# Database (Postgres)
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Next Auth (Segurança)
# Gere uma chave com: openssl rand -base64 32
AUTH_SECRET="sua_chave_secreta_aqui"

# Configurações do Admin Inicial (Seed)
ADMIN_EMAIL="admin@satiro.com.br"
ADMIN_PASS="senha_forte_aqui"
ADMIN_NAME="Admin Satiro"