# Dependências (O que gera os 10k de arquivos)
node_modules/

# Next.js build e cache
.next/
out/
build/

# Variáveis de ambiente (ESTRITAMENTE PROIBIDO COMITAR)
.env
.env.local
.env.*.local
.env.production
.env.development

# Prisma
/prisma/migrations/
*.db
*.db-journal

# Logs e Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Outros
.DS_Store
*.pem